<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="br.com.scielo.oauthpatch"
        version="1.0.0">

    <name>Google Facebook plist</name>

    <description>
      Plugin para configurar o plist do projeto ios com as entradas necessarias para o plugin do facebook e do google
    </description>

    <license>Apache 2.0</license>

    <preference name="FACEBOOK_APP_ID" />

    <!-- ios -->
    <platform name="ios">
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
          <array>
            <dict>
              <key>CFBundleURLSchemes</key>
              <array>
                <string>fb$FACEBOOK_APP_ID</string>
              </array>
            </dict>
            <dict>
              <key>CFBundleTypeRole</key>
              <string>Editor</string>
              <key>CFBundleURLName</key>
              <string>$PACKAGE_NAME</string>
              <key>CFBundleURLSchemes</key>
              <array>
                <string>$PACKAGE_NAME</string>
              </array>
            </dict>
          </array>
        </config-file>

    </platform>
</plugin>
